canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  margin: 0px;
}

charSheet {
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  overflow: scroll;
  width: 2480px;
  height: 3508px;
}